*.bak
*.java~
*.class

EclipseCompiler.txt

/Part I/02 - Deques and Randomized Queues/test/tale.txt
/Part I/03 - Pattern Recognition/test/mystery10089.txt
/Part I/03 - Pattern Recognition/test/input10000.txt
/Part I/03 - Pattern Recognition/test/input8000.txt
/Part I/05 - Kd-Trees/test/input*
/Part I/05 - Kd-Trees/test/circle10000.txt
